In [1]:
import pandas as pd

df = pd.DataFrame({
    'a':[1,2,3,4],
    'b':[2,4,6,8],
    'c':[True,True,False,False]
    })

In [2]:
df

   a  b      c
0  1  2   True
1  2  4   True
2  3  6  False
3  4  8  False

In [3]:
df.loc[df.c == True, 'a']

0    1
1    2
Name: a, dtype: int64

In [4]:
df.loc[df['c'] == True, 'a']

0    1
1    2
Name: a, dtype: int64

In [5]:
df.a[df['c'] == True]

0    1
1    2
Name: a, dtype: int64

In [6]:
df.a[df.c == True]

0    1
1    2
Name: a, dtype: int64